@model MemotraficoV2.Models.AccesoSistema
@{
    ViewBag.Title = "Sistema";
    Layout = null;
}

<div class="row">
    @using (Html.BeginForm("", "", FormMethod.Post))
    {
        <div class="col-md-12 col-sm-12">
            @Html.HiddenFor(model => model.IdAccesoSistema)
            <label>Descripción</label>
            @Html.TextAreaFor(model => model.descripcion, new { @class = "form-control", maxlength = 100 })
            @Html.ValidationMessageFor(i => i.descripcion)
        </div>
    }
</div>