@{
    ViewBag.Title = "Sin Acceso";
}

@if (Request.IsAjaxRequest() == false)
{
    <div class="" role="main">
        <div class="">
            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                        </div>
                        <div class="x_content">
                            <section class="content invoice">
                                <!-- title row -->
                                <div class="row">
                                    <div class="col-xs-12 invoice-header">
                                        <h1>
                                            No puedes acceder a esta sección porque no cuentas con los permisos necesarios. Comunicate con el Administrador

                                        </h1>
                                    </div>
                                    <!-- /.col -->
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    throw new Exception("No puedes acceder a esta sección porque no cuentas con los permisos necesarios");
}