@model MemotraficoV2.Models.Departamento

@{
    Layout = null;
    ViewBag.Title = "Eliminar";
}

<h3>Estas seguro que deseas eliminar la institucion <small> @Html.DisplayFor(model => model.Nombre)</small>?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color pull-right">
        <input type="submit" value="Eliminar" class="btn btn-default" />
        @*//@Html.ActionLink("Cancelar", "Index",null, new { @class="btn btn-dark" })*@
    </div>
}

