@{
    ViewBag.Title = "Acerca de...";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>El sistema para la atención de solicitudes tiene el objetivo de recibir, procesar y dar atención a solicitudes,</p>
        <p>que se generan en los planteles educativos del Estado de Chihuahua.</p>
    </div>
</div>