@{
    ViewBag.Title = "Contacto";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <address>
        Av. Río de Janeiro No. 1000<br />
        Residencial El Campestre, C.P. 31238<br />
        Chihuahua, Chih., México<br />
        <abbr title="Teléfono"></abbr>
        (614)429-3300 Ext. 23522
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Soporte al Sistema:</strong>   <a href="mailto:rherrera@chihuahua.gob.mx">rherrera@chihuahua.gob.mx</a><br />
        <i class="icon-envelope"></i><strong>Atención a solicitudes:</strong> <a href="mailto:ichife@chihuahua.gob.mx">ichife@chihuahua.gob.mx</a>
    </address>
</div>