@using Microsoft.AspNet.Identity
@{ 
    HttpCookie cookie = Request.Cookies.Get("NombreUsuario");
    ViewBag.nombre = cookie == null ? "" : cookie.Value.ToString();
}

@if (Request.IsAuthenticated)
{

<div class="profile clearfix">
    <div class="profile_pic">
        <img src="@Url.Action("GetImagen", "Account")" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Bienvenido,</span>
        <h2>@ViewBag.nombre</h2>
    </div>
</div>
}
