@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

<div class="profile clearfix">
    <div class="profile_pic">
        <img src="Content/Proyecto/images/img.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Bienvenido,</span>
        <strong>@User.Identity.Name</strong>
    </div>
</div>
}
