@model MemotraficoV2.ViewModels.Validacion_Requerimientos
@{
    Layout = null;
}


<div class="item form-group well col-md-12">
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-3 text-center">Concepto</th>
                <th class="col-md-9 text-center">Descripcion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">@Html.LabelFor(i => i.ComponenteIV.RedHidraulica)</td>
                <td>@Html.TextBoxFor(i => i.ComponenteIV.RedHidraulica, new { @class = "form-control col-md-12" })</td>
            </tr>
            <tr>
                <td class="text-center">@Html.LabelFor(i => i.ComponenteIV.Construccion)</td>
                <td>@Html.TextBoxFor(i => i.ComponenteIV.Construccion, new { @class = "form-control col-md-12" })</td>
            </tr>
            <tr>
                <td class="col-md-3 text-center"><label>Estado General de la Red</label></td>
                <td class="col-md-9 text-center">
                    @switch (Model.ComponenteIV.Rehabilitacion)
                    {
                        case 1:
                            <label class="col-md-4"><input type="radio" class="flat" name="CIVRehabilitacion" value="1" checked />Preventivo (RP)</label>
                            <labell class="col-md-4"><input type="radio" class="flat" name="CIVRehabilitacion" value="2"  />Menor (RM)</labell>
                            <labell class="col-md-4"><input type="radio" class="flat" name="CIVRehabilitacion" value="3"  />Correctivo (RC)</labell>
                            break;
                        case 2:
                            <label class="col-md-4"><input type="radio" class="flat" name="CIVRehabilitacion" value="1"  />Preventivo (RP)</label>
                            <labell class="col-md-4"><input type="radio" class="flat" name="CIVRehabilitacion" value="2"  checked/>Menor (RM)</labell>
                            <labell class="col-md-4"><input type="radio" class="flat" name="CIVRehabilitacion" value="3"  />Correctivo (RC)</labell>
                            break;
                        case 3:
                            <label class="col-md-4"><input type="radio" class="flat" name="CIVRehabilitacion" value="1"  />Preventivo (RP)</label>
                            <labell class="col-md-4"><input type="radio" class="flat" name="CIVRehabilitacion" value="2"  />Menor (RM)</labell>
                            <labell class="col-md-4"><input type="radio" class="flat" name="CIVRehabilitacion" value="3"  checked/>Correctivo (RC)</labell>
                            break;
                        default:
                            <label class="col-md-4"><input type="radio" class="flat" name="CIVRehabilitacion" value="1"  />Preventivo (RP)</label>
                            <labell class="col-md-4"><input type="radio" class="flat" name="CIVRehabilitacion" value="2"  />Menor (RM)</labell>
                            <labell class="col-md-4"><input type="radio" class="flat" name="CIVRehabilitacion" value="3"  />Correctivo (RC)</labell>
                            break;

                    }
                    
                </td>
            </tr>
        </tbody>
    </table>
</div>