@model MemotraficoV2.ViewModels.Validaciones
@{
    Layout = null;
}

<div class="item form-group well col-md-6" style="height:170px;">
    <label class="col-md-6">Predio</label>
    @switch (Model.Croquis.Predio)
    {
        case true:
            <label><input type="radio" class="flat col-md-6" name="CroquisPredio" value="1" checked  /> Rocoso   </label><br />
            <div class="col-md-6"></div>
            <label><input type="radio" class="flat col-md-6" name="CroquisPredio" value="2"  /> Arenoso   </label>
            break;
        case false:
            <label><input type="radio" class="flat col-md-6" name="CroquisPredio" value="1"  /> Rocoso   </label><br />
            <div class="col-md-6"></div>
            <label><input type="radio" class="flat col-md-6" name="CroquisPredio" value="2" checked  /> Arenoso   </label>
            break;
        default:
            <label><input type="radio" class="flat col-md-6" name="CroquisPredio" value="1"  /> Rocoso   </label><br />
            <div class="col-md-6"></div>
            <label><input type="radio" class="flat col-md-6" name="CroquisPredio" value="2"  /> Arenoso   </label>
            break;
    }
</div>
<div class="item form-group well col-md-6">
    <label class="col-md-6">Tipo de Suelo</label>
    @switch (Model.Croquis.TipoSuelo)
    {
        case 1:
            <label><input type="radio" class="flat col-md-6" name="CroquisTipoSuelo" value="1" checked  /> Rocoso   </label><br />
            <div class="col-md-6"></div>
            <label><input type="radio" class="flat col-md-6" name="CroquisTipoSuelo" value="2"  /> Arenoso   </label><br />
            <div class="col-md-6"></div>
            <label><input type="radio" class="flat col-md-3" name="CroquisTipoSuelo" value="3"  /> Arsilloso </label><br />
            <div class="col-md-6"></div>
            <label><input type="radio" class="flat col-md-3" name="CroquisTipoSuelo" value="4"  /> Calichoso   </label><br />
            <div class="col-md-6"></div>
            <label><input type="radio" class="flat col-md-3" name="CroquisTipoSuelo" value="5"  /> Lamoso   </label>
            break;
        case 2:
            <label><input type="radio" class="flat col-md-6" name="CroquisTipoSuelo" value="1"   /> Rocoso   </label><br />
            <div class="col-md-6"></div>
            <label><input type="radio" class="flat col-md-6" name="CroquisTipoSuelo" value="2" checked  /> Arenoso   </label><br />
            <div class="col-md-6"></div>
            <label><input type="radio" class="flat col-md-3" name="CroquisTipoSuelo" value="3"  /> Arsilloso </label><br />
            <div class="col-md-6"></div>
            <label><input type="radio" class="flat col-md-3" name="CroquisTipoSuelo" value="4"  /> Calichoso   </label><br />
            <div class="col-md-6"></div>
            <label><input type="radio" class="flat col-md-3" name="CroquisTipoSuelo" value="5"  /> Lamoso   </label>
            break;
        case 3:
            <label><input type="radio" class="flat col-md-6" name="CroquisTipoSuelo" value="1"   /> Rocoso   </label><br />
            <div class="col-md-6"></div>
            <label><input type="radio" class="flat col-md-6" name="CroquisTipoSuelo" value="2"  /> Arenoso   </label><br />
            <div class="col-md-6"></div>
            <label><input type="radio" class="flat col-md-3" name="CroquisTipoSuelo" value="3" checked  /> Arsilloso </label><br />
            <div class="col-md-6"></div>
            <label><input type="radio" class="flat col-md-3" name="CroquisTipoSuelo" value="4"  /> Calichoso   </label><br />
            <div class="col-md-6"></div>
            <label><input type="radio" class="flat col-md-3" name="CroquisTipoSuelo" value="5"  /> Lamoso   </label>
            break;
        case 4:
            <label><input type="radio" class="flat col-md-6" name="CroquisTipoSuelo" value="1"   /> Rocoso   </label><br />
            <div class="col-md-6"></div>
            <label><input type="radio" class="flat col-md-6" name="CroquisTipoSuelo" value="2"  /> Arenoso   </label><br />
            <div class="col-md-6"></div>
            <label><input type="radio" class="flat col-md-3" name="CroquisTipoSuelo" value="3"  /> Arsilloso </label><br />
            <div class="col-md-6"></div>
            <label><input type="radio" class="flat col-md-3" name="CroquisTipoSuelo" value="4" checked  /> Calichoso   </label><br />
            <div class="col-md-6"></div>
            <label><input type="radio" class="flat col-md-3" name="CroquisTipoSuelo" value="5"  /> Lamoso   </label>
            break;
        case 5:
            <label><input type="radio" class="flat col-md-6" name="CroquisTipoSuelo" value="1"  /> Rocoso   </label><br />
            <div class="col-md-6"></div>
            <label><input type="radio" class="flat col-md-6" name="CroquisTipoSuelo" value="2"  /> Arenoso   </label><br />
            <div class="col-md-6"></div>
            <label><input type="radio" class="flat col-md-3" name="CroquisTipoSuelo" value="3"  /> Arsilloso </label><br />
            <div class="col-md-6"></div>
            <label><input type="radio" class="flat col-md-3" name="CroquisTipoSuelo" value="4"  /> Calichoso   </label><br />
            <div class="col-md-6"></div>
            <label><input type="radio" class="flat col-md-3" name="CroquisTipoSuelo" value="5" checked  /> Lamoso   </label>
            break;
        default:
            <label><input type="radio" class="flat col-md-6" name="CroquisTipoSuelo" value="1"  /> Rocoso   </label><br />
            <div class="col-md-6"></div>
            <label><input type="radio" class="flat col-md-6" name="CroquisTipoSuelo" value="2"  /> Arenoso   </label><br />
            <div class="col-md-6"></div>
            <label><input type="radio" class="flat col-md-3" name="CroquisTipoSuelo" value="3"  /> Arsilloso </label><br />
            <div class="col-md-6"></div>
            <label><input type="radio" class="flat col-md-3" name="CroquisTipoSuelo" value="4"  /> Calichoso   </label><br />
            <div class="col-md-6"></div>
            <label><input type="radio" class="flat col-md-3" name="CroquisTipoSuelo" value="5"  /> Lamoso   </label>
            break;
    }
</div>
<div class="col-md-12">
    <div class="col-md-12">
        @if (Model.Croquis.Tipo != null) {
        <img class="col-md-offset-3 col-md-4" src="@(Url.Action("GetCroquis", "Validaciones", new { id = Model.Croquis.IdCroquis } ))" alt="">
            <input id="filecroquis" name="filecroquis" class="form-control col-md-12" type="file" accept=""  data-val="@(Model.Croquis.IdCroquis)" />   
        }
        else
        {<input id="filecroquis" name="filecroquis" class="form-control col-md-10" type="file" accept=""   data-val="@(Model.Croquis.IdCroquis)"/>
        }
    </div>
</div>

<script>
    
</script>
